

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color:rgb(211, 211, 63);
    color: black;
    height: 60px;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Itim', cursive;
    font-weight: 600;
}

nav ul{
    list-style-type: none;
}

.gameContainer {
    background-color: #1dc1d6;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.box {
    border: 1px solid black;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box:hover {
    background-color: #b6c5c1;
}

.gameInfo {
    margin: 10px;
    padding: 10px;
}

.box {
    border-top: none;
    border-left: none;
}

.br-0 {
    border-right: none;
}

.bb-0 {
    border-bottom: none;
}
.info {
    font-family:'Itim', cursive;
    font-size: larger;
}
button {
    font-size: larger;
    font-family:'Itim', cursive;

}